.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  color: #6a6a9f;
}
.nav__left{
    display: flex;
    align-items: center;
}
.nav__center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dee3f3;
  max-width: 60%;
  flex: 1;
  border-radius: 10px;
  margin-left: 3rem;
  padding: 0.2rem;
}
input {
  width: 100%;
  background-color: #dee3f3;
  outline: none;
  border: none;
}
img {
  height: 30px;
  margin-right: 1rem;
}
.nav__icons {
  margin: 1rem;
  cursor: pointer;
}
.nav__icon{
  cursor: pointer;

}